    

<div class="row justify-content-center text-center">
    <div class="col-12 col-md-8"><h1 class="title-on-dark py-3">{{include.banner.title}}</h1></div>
</div>

{% if include.banner.content %}
	<div class="row justify-content-center text-center py-2">
	    <div class="col-12 col-md-6"><p class="text-on-dark">{{include.banner.content}}</p></div>
	</div>
{% endif %}


{% if include.banner.actions %}
<div class="pt-2 row justify-content-center text-center">
    <div class="col-6 col-md-2">

      <a class="btn btn-140 float-right btn-outline-primary btn-block" style="color: {{include.banner.color}};"  href="{{include.banner.actions.primary.url}}" role="button">{{include.banner.actions.primary.text}}</a
      >
    </div>
    <div class="col-6 col-md-2">
      <a
        class="btn btn-140 btn-outline-secondary btn-block"
        href="{{include.banner.actions.secondary.url}}"
        role="button"
        >{{include.banner.actions.secondary.text}}
      </a>
    </div>
</div>
{% endif %}

