<div class="row text-left vcenter">
	<div class="col-12"><p class="text-on-dark">{{include.banner.subtitle}}</p></div>
</div>

<div class="row text-left">
	<div class="col-12"><h1 class="title title-on-dark">{{include.banner.title}}</h1></div>
</div>

<div class="row pt-3 text-left">
	<div class="col-12 col-md-6">
	  <p class="text-on-dark">{{include.banner.content}}</p>
	</div>
</div>

<div class="row" >
	<div class="offset-md-10  col-md-2 text-right" style="float:right;">
	    <img src={{ include.banner.icon }} width="100%"/>
	</div>  
</div>