<!-- <div class="row text-left vcenter">
	<div class="col-12"><p class="subtitle-in-banner">{{include.banner.subtitle}}</p></div>
</div>

<div class="row text-left">
	<div class="col-12"><h1 class="title-in-banner">{{include.banner.title}}</h1></div>
</div>

<div class="row pt-3 text-left">
	<div class="col-12 col-md-6">
	  <p class="text-in-banner">{{include.banner.content}}</p>
	</div>
</div>

<div class="row" >
	<div class="offset-md-10  col-md-2 text-right" style="float:right;">
	    <img src={{ include.banner.icon }} width="100%"/>
	</div>  
</div> -->



<div class="row justify-content-center text-center">
	<div class="col-6">
	  <p class="subtitle-in-banner">{{include.banner.subtitle}}</p>
	  <h1 class="title-in-banner">{{include.banner.title}}</h1>
	  <!-- <p class="text-in-banner pt-3">{{include.banner.content}}</p> -->
	</div>
</div>

{% if include.banner.actions %}
<div class="row pt-3 justify-content-center text-center">
    <div class="col-12 col-md-2">
      <a class="btn btn-outline-primary btn-block" style="color: {{include.banner.color}};" href="{{include.banner.actions.primary.url}}" role="button">{{include.banner.actions.primary.text}}</a
      >
    </div>
</div>
{% endif %}




