<ul class="nav nav-tabs" id="{{include.downloadsection.id}}Tabs" role="tablist">
    {% for arch in include.downloadsection.arch %}
    <li class="nav-item">
        <a class="nav-link {%if forloop.first == true %}active{%endif%}" 
        id="{{include.downloadsection.id | append: arch.id}}-tab" 
        data-toggle="tab" 
        href="#{{include.downloadsection.id | append: arch.id}}" 
        role="tab" 
        aria-controls="{{include.downloadsection.id | append: arch.id}}"  
        aria-selected="true">{{arch.title}}</a>
    </li>
    {% endfor %}
</ul>
<div class="tab-content mt-1" id="{{include.downloadsection.id}}TabsContent">
    {% for arch in include.downloadsection.arch %}
    <div class="tab-pane fade show  {%if forloop.first == true %}active{%endif%}" id="{{include.downloadsection.id | append: arch.id}}" role="tabpanel" aria-labelledby="{{include.downloadsection.id | append: arch.id}}-tab">
        <div class="row">  
        {% for platform in arch.platforms %}
        <div class="col-sm">
            <h4>{{ platform[1].title }}</h4>
            {% for part in platform[1].parts %}
            <ul class="tree">
                <li><span class="tree-root">{{part[1].title}}</span>
                <ul>
                    {% for artifact in part[1].artifacts %}
                    <li><a 
                        onclick="trackOutboundLink('{{artifact[1].uri}}');"
                        href="{{artifact[1].uri}}"
                        target="_blank"
                        >{{artifact[1].title}}</a>
                        <ul>
                        {% for sub in artifact[1].subs %}
                            <li><small><a 
                                onclick="trackOutboundLink('{{sub.uri}}');"
                                target="_blank"
                                href="{{sub.uri}}"
                                >{{sub.title}}</a></small></li>
                        {% endfor %}
                        </ul>
                    {% endfor %}</li>
                </ul>
                </li>
            </ul>
            {% endfor %} 
        </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="pt-2">
    <small><em>{{ include.downloadsection.notes | markdownify }}</em></small>
</div>

