
<div class="container" style="padding: 80px 30px;">

{% for feature in include.features%}
	
	  {% capture thecycle%}{% cycle 'one', 'two', 'three' %}{% endcapture %} 
	  {% if thecycle == 'one' %}
	    
		<div class="row px-3 justify-content-left text-center">
		  
		    <div class="col-12 col-md-4 vcenter" style="background-color:white; border-style: solid; border-color:#b4bcc2; border-width: 1px;">
	        
		        <!-- Title -->
		         <h3 class="pt-3">{{feature.title}}</h3>
		         
		        <!-- Image -->
		         <div class="row justify-content-center text-center pt-5">
		            <div class="col-12 col-md-5"><img src="{{feature.img}}" width="100px"></img> </div>
		         </div>  


		        <!-- Downloads -->
		        <div class="row justify-content-center text-center px-2 pt-5">
	               <div class="col-12 col-md-10" style="border-top: 1px solid gray;"> </div>
	                  
	                  <div class="col-12 col-md-3 software-download pt-3 pb-3 link-on-white-paragraph">
	                     <a href="{feature.action_url}" class="software-download">
	                         <h7>{{feature.action_label}}</h7>
	                     </a>
	                  </div>
		    
	            </div>

		    </div>

	{% else %}  
		    <div class="col-12 col-md-4 vcenter" style="background-color:white; border-style: solid; border-color:#b4bcc2; border-width: 1px;">
		  	 
			  	<!-- Title -->
		         <h3 class="pt-3">{{feature.title}}</h3>
		         
		        <!-- Image -->
		         <div class="row justify-content-center text-center pt-5">
		            <div class="col-12 col-md-5"><img src="{{feature.img}}" width="100px"></img> </div>
		         </div>  


		        <!-- Downloads -->
		        <div class="row justify-content-center text-center px-2 pt-5">
	               <div class="col-12 col-md-10" style="border-top: 1px solid gray;"> </div>
	                  
	                  <div class="col-12 col-md-3 software-download pt-3 pb-3 link-on-white-paragraph">
	                     <a href="{feature.action_url}" class="software-download">
	                         <h7>{{feature.action_label}}</h7>
	                     </a>
	                  </div>
		           
	            </div>
		    </div>
	    {% if thecycle == 'three' %}
		    </div>
		{% endif %}  
	{% endif %}	    
 {% endfor %}   
</div>