<div class="container-fluid features feature-icons-container">
   <div class="container-fluid">
	  <div class="row justify-content-center text-center">
	    {% for feature in site.data.pages.es.features.featuresLink%}
	      <div class="col-3 col-lg-1 col-md-3 mx-3 py-3">
	       
	        <!-- Icons -->
	        <div class="row pt-4 justify-content-center align-items-center">
	          <a href={{ feature.url | relative_url }}> <img src="{{site.baseurl}}{{ feature.icon }}" class="feature-icons" style="fill:{{feature.color}};"></a>
	        </div>  

	        <!-- Text -->
	        
            {% if page.url contains feature.url %}
		        <div class="row feature-icon-title justify-content-center align-items-center ">
		          <a href={{ feature.url | relative_url }} style='text-decoration: none;'><h8 class="text-icon" style="color: {{feature.color}}; border-bottom: 2px solid {{feature.color}}; padding-bottom:5px;">{{feature.title}}</h8></a>
		        </div>  
	        {% else %}
				<div class="row feature-icon-title justify-content-center align-items-center ">
		          <a href={{ feature.url | relative_url }} style='text-decoration: none;'><h8 class="text-icon" style="color: {{feature.color}};">{{feature.title}}</h8></a>
		        </div>  

	        {% endif %}		      

	      </div> 
	    {% endfor %}  
	  </div>
    </div>
</div>