
<footer class="container-fluid page-footer">
  <div class="row d-flex justify-content-around">
    {% for section in site.data.pages.es.footer.siteMap.sections %}
    <div class="col-md-4 px-5 py-5 d-block justify-content-center" style="padding-left:20px;">

        <div class="title-footer">{{ section.title }}</div>
      
        <ul class="list-unstyled">
          {% for menu in section.contents %}
            <li>
              <a href="{{menu.url}}" class="text-footer">{{ menu.menu_item }}</a>
            </li>
          {% endfor %}
        </ul>
      
    </div>
    {% endfor %}
  </div>
</footer>

<!-- Add sticky class to breadcrumbs 
<script type="text/javascript">
  window.onscroll = function() {myFunction()};
  
  var breadcrumbs = document.getElementById("breadcrumbs");
  var sticky = breadcrumbs.offsetTop;

  function myFunction() {

    if (window.pageYOffset >= sticky) {
      breadcrumbs.classList.add("sticky")
    } else {
      console.log("Remove sticky");
      breadcrumbs.classList.remove("sticky");
    }
  }
</script>-->






