<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ "/assets/media/icons/favicon.ico" | absolute_url }}">
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/breadcrumb.js" | relative_url }}"></script>
  <script src="https://a0.awsstatic.com/s_code/js/1.0/awshome_s_code.js"></script>
</head>
