<div class="container">
  <div class="px-3">
    
    <!-- Title -->
	<div class="pt-5 row justify-content-center text-center features feature-title">
	    <div class="col-12"><h1 class="title">{{include.intro.title}}</h1></div>
	</div>

    {% if include.intro.content %}
		<!-- Content -->
		<div class="row justify-content-center text-center py-2">
		    <div class="col-12 col-md-8">
		      <p class="text text-center">{{include.intro.content}}</p>
		    </div>
		</div>
	{% endif %}

    {% if include.intro.ext_content %}
		<!-- Extended Content -->
		<div class="row justify-content-center text-center py-2">
		   <div class="col-12 col-md-12">
		      <p class="text text-center">{{include.intro.ext_content}}</p>
		   </div>
		</div>
    {% endif %}

	<!-- Text -->
	{% if include.intro.text %}
	    <div class="row justify-content-center text-left py-2">
		    <div class="col-12 col-md-12">
		      <p class="text">{{include.intro.text}}</p>
		    </div>
		</div>
    {% endif %}

    <!-- Links -->
    {% if include.intro.links %}
      <div class="row justify-content-center text-center py-3">
        {% for link in include.intro.links %}
		   <div class="col-12 col-md-2">
		      <a class="link-on-white" href="{{link.url}}">{{link.label}}</a>
		   </div>     
	    {% endfor %} 
	  </div>
	{% endif %}

	 <!-- Buttons -->
    {% if include.intro.buttons %}
      <div class="row justify-content-center text-center pt-3 pb-5">
       
		   <div class="col-12 col-md-2">
		      <a class="btn btn-outline-primary-on-white btn-round btn-block" href="{{include.intro.buttons.url_primary}}" role="button">
		        {{include.intro.buttons.label_primary}}
		      </a>
		   </div>  
		   <div class="col-12 col-md-2">
		      <a class="btn btn-outline-secondary-on-white btn-round btn-block" href="{{include.intro.buttons.url_secondary}}" role="button">
		        {{include.intro.buttons.label_secondary}}
		      </a>
		   </div>      
	    
	  </div>
	{% endif %}

    <!-- Img -->
	{% if include.intro.img %}
	<div class="row justify-content-center text-center">
	   <div class="col">
	      <img src={{ include.intro.img }} width="100%" />
	      <p class="text text-left py-3"> {{include.intro.subtext}}</p>
	   </div>
	</div>
	{% endif %}

    <!-- Mini img -->
    {% if include.intro.miniImgs %}
	<div class='row justify-content-center text-center px-3'>
	   {% for img in include.intro.miniImgs %}
	    <div class="col-12 col-md-3" style="display:block;">
	       <img src="/assets/media/screenshots/kibana_dashboard_1.png" style="padding-bottom:20px; width:100%" />
	       <p>{{img.title}}</p>
	    </div>
	   {% endfor %}
	 </div>
	{% endif %} 
  </div>  
</div> 