{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ category | downcase }}">{{ category }} </a></span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}

{% else page.category %}
  {% capture categories %}
    <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ page.category | downcase }}">{{ page.category }}</a></span>
  {% endcapture %}
{% endif %}

{% if page.author %}
  {% capture author %}


    <span class="label  label--category">{{ page.author }}</span>
  
  {% endcapture %}
{% endif %}

<small class="small post-meta" style="color: #aaa; font-size: 12px;">
  {% assign date_format = site.date_format | default: "%b %d %Y" %}
  by: {{ author | append: "&nbsp;&middot;&nbsp;"}}
  on: <time datetime="{{ page.date | date_to_xmlschema }}" class="time">
  {{ page.date | date: date_format }} </time>
</small>

<!--{{ categories | prepend: "&nbsp;&middot;&nbsp;" }}-->