<div class="container">
	{% for feature in include.features%}
	  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
	  {%if thecycle == 'odd' %}
	    <div class="row" style="padding-top:40px; padding-bottom:4rem;">
	      <div class="col col-md-6">
	        {% if feature.subtitle %}
	           <div class="row title-on-white" >
		         <div class="col col-md-12 px-5"><p class="overtitle-on-white">{{ feature.subtitle }}</h8></div>
		       </div>
	        {% endif %}
		       <div class="row title-on-white" style="margin-bottom: 0px;">
		         <div class="col col-md-12 px-5"><h2 class="subtitle-on-white">{{ feature.title }}</h2></div>
		       </div>

		       <!-- Content bold -->
               {% if feature.subContent %}
			       <div class="row">
			        <div class="col-12 col-md-12 px-5">
			          <p class="text text-bold">{{feature.subContent}}</p>
			        </div>  
			       </div>
		       {% endif %}

		       <!-- Content -->
		       <div class="row">
		         <div class="col col-md-12 px-5"><p class="text">{{ feature.content }}</p></div>
		       </div>  
		       
	      </div>
	  {% else %}
	      <div class="col col-md-6">
	      {% if feature.subtitle %}
	           <div class="row title-on-white" >
		         <div class="col col-md-12 px-5"><p class="overtitle-on-white">{{ feature.subtitle }}</p></div>
		       </div>
	        {% endif %}
		       <div class="row title-on-white" style="margin-bottom: 0px;">
		         <div class="col col-md-12 px-5"><h2 class="subtitle-on-white">{{ feature.title }}</h2></div>
		       </div>

		       <!-- Content bold -->
               {% if feature.subContent %}
			       <div class="row">
			        <div class="col col-md-12 px-5"><p class="text text-bold">{{feature.subContent}}</p></div>  
			       </div>
		       {% endif %}

               <!-- Content -->
		       <div class="row">
		         <div class="col col-md-12 px-5"><p class="text">{{ feature.content }}</p></div>
		       </div> 
		        
	      </div> 
	     </div>
	  {% endif %}
	  
	{% endfor %} 
</div>