<div class="container text-icon-three-col">
	{% for feature in include.features%}
	
	  {% capture thecycle%}{% cycle 'one', 'two', 'three' %}{% endcapture %} 
	  {% if thecycle == 'one' %}
	    <div class="row px-2 pt-2 text-center justify-content-center">
	      <div class="col-md-4 col-sm-12">
            <!-- Icons -->
            {% if feature.img %}
	           <div class="row text-center justify-content-center" >
		         <div class="col col-md-12 px-5"><img src="{{ feature.img }}" ></img></div>
		       </div>
	        {% endif %}

	        <!-- Title -->
		       <div class="row pt-md-4 pt-sm-1" >
		         <div class="col col-md-12"><h5>{{ feature.title }}</h5></div>
		       </div>

		    <!-- Text -->
		       <div class="row pt-md-3 pt-sm-1">
		         <div class="col col-md-12 px-3 text-14"><p>{{ feature.content }}</p></div>
		       </div>  

	      </div>
	  {% else %}
	      <div class="col-md-4 col-sm-12">

	        <!-- Icons -->
            {% if feature.img %}
	           <div class="row text-center justify-content-center" >
		         <div class="col col-md-12 px-5"><img src="{{ feature.img }}" "></img></div>
		       </div>
	        {% endif %}

	        <!-- Title -->
		       <div class="row pt-md-4 pt-sm-1">
		         <div class="col col-md-12"><h5>{{ feature.title }}</h5></div>
		       </div>

		    <!-- Text -->
		       <div class="row pt-md-3 pt-sm-1">
		         <div class="col col-md-12 px-3 text-14"><p>{{ feature.content }}</p></div>
		       </div>  
	      </div> 
		    {% if thecycle == 'three' %}
		       </div>
		    {% endif %}   
	  {% endif %}
	  
	{% endfor %} 
</div>

