---
layout: default
---
<!-- Breadcrumbs -->
<div class="container-fluid">
  {% include breadcrumbs.html %}
</div>

<!-- Banner -->
<div class="container-fluid alertingBanner">
  {%- include banner.html banner=site.data.pages.es.alerting.banner -%}
</div>

<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.alerting.intro -%}

<div class="pt-5"/>
<!-- Features  -->
{%- include text-img-blocks.html features=site.data.pages.es.alerting.features -%}

<!-- Community -->
{%- include communities/es.html -%}