---
layout: default
---
<!-- Breadcrumbs -->
<!-- <div class="container-fluid">
  {% include breadcrumbs.html %}
</div> -->

<!-- Feature icons -->
{%- include feature_icons.html -%}

<!-- Banner -->
<div class="container-fluid alertingBanner">
  {%- include banner.html banner=site.data.pages.es.alerting.banner -%}
</div>

<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.alerting.intro -%}

<div class="pt-5"/>
<!-- Features  -->
{%- include text-img-with-background.html features=site.data.pages.es.alerting.features -%}

<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.alerting.alerts -%}

<!-- Community -->
{%- include communities/es.html -%}