---
layout: default
---

<!-- Breadcrumbs -->
<!-- <div class="container-fluid">
  {% include breadcrumbs.html %}
</div> -->

<!-- Feature icons -->
{%- include feature_icons.html -%}

<!-- Banner -->
<div class="container-fluid analyzerBanner">
  {%- include banner.html banner=site.data.pages.es.analyzer.banner -%}
</div>

<!-- Intro -->
<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.analyzer.intro -%}

<div class="pt-5"/>
<!-- Features  -->
{%- include text-img-with-background.html features=site.data.pages.es.analyzer.features -%}

<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.analyzer.performance -%}

<!-- Community -->
{%- include communities/es.html -%}