---
layout: default
---
<!-- Breadcrumbs -->
<!-- <div class="container-fluid">
  {% include breadcrumbs.html %}
</div> -->

<!-- Feature icons -->
{%- include feature_icons.html -%}

<!-- Banner -->
<div class="container-fluid featureBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.comingsoon.banner -%}
</div>


<div class="pt-5 mt--5"/>
<!-- Features  -->
{%- include text-img-with-background.html features=site.data.pages.es.comingsoon.features -%}

<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.comingsoon.alerts -%}

<!-- Community -->
{%- include communities/es.html style='/assets/media/backgrounds/homehero.svg' community=site.data.pages.es.comingsoon.bottomBanner github=site.data.links.github.comingsoon forum= site.data.links.forum.comingsoon-%}