---
layout: default
---
<!-- Breadcrumbs -->
<div class="container">
  <div class="row">
	{% include breadcrumbs.html %}
  </div>
</div>

<!-- Banner -->
<div class="container elasticsearchBanner">
  {%- include banner.html banner=site.data.pages.es.elasticsearch.banner -%}
</div>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.elasticsearch.intro -%}
<!-- End -->

<!-- Features -->
<div class="container px-5">

<!-- Features -->
{%- include text-two-col.html features=site.data.pages.es.elasticsearch.features -%}


<div class="pt-5"/>

<!-- Community Starts -->
  {%- include communities/es.html -%}
<!-- Community Ends -->



