---
layout: default
---
<!-- Breadcrumbs -->
<div class="container-fluid">
  {% include breadcrumbs.html %}
</div>

<!-- Banner -->
<div class="container-fluid kibanaBanner">
  {%- include banner.html banner=site.data.pages.es.kibana.banner -%}
</div>

<div class="pt-5"/>
<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.kibana.intro -%}
<!-- End -->

<div class="pt-5"/>
<!-- Features  -->
{%- include text-two-col.html features=site.data.pages.es.kibana.features -%}

<div class="pt-5"/>
<!-- Community Starts -->
{%- include communities/es.html -%}
<!-- Community Ends -->