---
layout: default
---
<!-- Breadcrumbs -->
<div class="container">
  <div class="row">
	{% include breadcrumbs.html %}
  </div>
</div>

<!-- Banner -->
<div class="container kibanaBanner">
  {%- include banner.html banner=site.data.pages.es.kibana.banner -%}
</div>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.kibana.intro -%}
<!-- End -->

<div class="pt-5"/>

<div class="container">
  <div class="px-3">
	  {% for feature in site.data.pages.es.kibana.features %}
		  <div class="row vcenter px-3 py-3">
		    <div class="col-12 col-md-6" >
		      <div class="row">
		        <div class="col-12 col-md-12 title-on-white">
		          <h5>{{feature.title}}</h5>
		        </div>  
		       </div>
		       <div class="row">
		        <div class="col-12 col-md-12">
		          <p>{{feature.content}}</p>
		        </div>  
		       </div>
		    </div>

		    <div class="col-12 col-md-6 text-left">
		     <img src={{feature.img}} width="100%"></img>
		    </div>
		  </div>

	  {% endfor %}

  </div>

</div>

<!-- Features -->

<!-- Community Starts -->
<div class="container">
  {%- include communities/es.html -%}
</div>  
<!-- Community Ends -->