---
layout: default
---
<!-- Breadcrumbs -->
<!-- <div class="container-fluid">
  {% include breadcrumbs.html %}
</div> -->

<!-- Feature icons -->
{%- include feature_icons.html -%}

<!-- Banner -->
<div class="container-fluid featureBanner" style="background: url('{{site.baseurl}}{{site.data.pages.es.alerting.bottomBanner.class}}') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.knn.banner -%}
</div>

<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.knn.intro -%}

<div class="pt-5"/>
<!-- Features  -->
{%- include text-img-with-background.html features=site.data.pages.es.knn.features -%}

<div class="pt-5"/>
{%- include intro.html intro=site.data.pages.es.knn.alerts -%}

<!-- Community -->
{%- include communities/es.html style='/assets/media/backgrounds/lightPinkRec.svg' community=site.data.pages.es.alerting.bottomBanner github=site.data.links.github.alerting forum= site.data.links.forum.alerting-%}