---
layout: default
---
<!-- Breadcrumbs -->

<div class="container">
  <div class="row">
	{% include breadcrumbs.html %}
  </div>
</div>


<div class="container">
  <div class="securityBanner">
    
      <div class="row text-left">
	    <div class="col-12"><h7>{{site.data.pages.es.security.banner.subtitle}}</h7></div>
	  </div>

	  <div class="row text-left">
	    <div class="col-12"><h4>{{site.data.pages.es.security.banner.title}}</h4></div>
	  </div>
	  
	  <div class="row pt-3 text-left">
	    <div class="col-12 col-md-6">
	      <h8>{{site.data.pages.es.security.banner.content}}</h8>
	    </div>
	  </div>

      <div class="row" >
        <div class="offset-md-10 col-md-2" style="float:right;">
            <img src={{ site.data.pages.es.security.banner.icon }}  height="100" width="100"/>
        </div>  
      </div>
	  
  </div>
</div>


<!-- Intro -->
<div class="container">
  <div class="px-3">
    
    <!-- Title -->
	<div class="pt-5 row justify-content-center text-center title-on-white">
	    <div class="col-12"><h4>{{site.data.pages.es.security.intro.title}}</h4></div>
	</div>

	<!-- Subtitle -->
	<div class="row justify-content-center text-center py-3">
	    <div class="col-12 col-md-10">
	      <h7>{{site.data.pages.es.security.intro.content}}</h7>
	    </div>
	</div>

  </div>  
</div> 

<!-- Features -->
<div class="container px-5">

{% for feature in site.data.pages.es.security.features%}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {%if thecycle == 'odd' %}
    <div class="row px-5 pt-5">
      <div class="col col-md-6">
	       <div class="row title-on-white">
	         <div class="col col-md-12" style="font-weight: bold;"><h5>{{ feature.title }}</h5></div>
	       </div>
	       <div class="row">
	         <div class="col col-md-12 py-3">{{ feature.content }}</div>
	       </div>  
      </div>
  {% else %}
      <div class="col col-md-6">
	       <div class="row  title-on-white">
	         <div class="col col-md-12" style="font-weight: bold;"><h5>{{ feature.title }}</h5></div>
	       </div>
	       <div class="row">
	         <div class="col col-md-12 py-3">{{ feature.content }}</div>
	       </div>  
      </div> 
     </div>
  {% endif %}
  
{% endfor %} 
</div>

<div class="pt-5"/>

<!--  Feature box -->
<div class="container">
 <div class="securityFeaturesContainer">
    <div class="row justify-content-center text-center">
      <h3>{{site.data.pages.es.security.featureList.title}}</h3>
    </div>
	<div class="row d-flex justify-content-around py-3">
	    {% for section in site.data.pages.es.security.featureList.sections %}
	    <div class="col-md-4 px-5 py-5 d-block justify-content-center" style="padding-left:20px;">
	      
	        <ul class="list-unstyled">
	          {% for feature in section.content %}
	            <li>
	              {{ feature.feature_item }}
	            </li>
	          {% endfor %}
	        </ul>
	      
	    </div>
	    {% endfor %}
	  </div>
	</div>  
</div>	  

<!-- Community Starts -->
<div class="container">
  {%- include communities/es.html -%}
</div>  
<!-- Community Ends -->