---
layout: default
---
<!-- Breadcrumbs -->
<!-- <div class="container-fluid">
  {% include breadcrumbs.html %}
</div> -->

<!-- Feature icons -->
{%- include feature_icons.html -%}

<!-- Banner -->
<div class="container-fluid featureBanner" style="background: url('{{site.baseurl}}{{site.data.pages.es.sqlSupport.bottomBanner.class}}') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.sqlSupport.banner -%}
</div>

<div class="pt-5"/>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.sqlSupport.intro -%}
<!-- End -->

<div class="pt-5"/>
<!-- Features  -->
{%- include text-img-with-background.html features=site.data.pages.es.sqlSupport.features -%}

<!-- Community -->
{%- include communities/es.html community=site.data.pages.es.sqlSupport.bottomBanner github=site.data.links.github.sql forum= site.data.links.forum.sql-%}