---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.blog.banner -%}
</div>


<!-- blog -->

  <div class="container content">

    <article class="article  article--page  typeset">

      {% if paginator.posts %}
        {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
        <h1>{{ collectiondata.title }}</h1>
        {{ collectiondata.description | markdownify }}

      {% else %}
        <h1>{{ page.title }}</h1>
        {{ content }}
        
      {% endif %}

    </article>

    {% include post-list.html %}

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}



