---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner">
  {%- include banner.html banner=site.data.pages.es.community.banner -%}
</div>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.community.intro -%}

<!-- Paragraphs -->
<div class="container px-5">
  {% for contribution in site.data.pages.es.community.contributions %}
	   <div class="pt-5"></div>
	    
	    <!-- Title -->
	    <h2 class="subtitle-on-white">{{contribution.title | markdownify}}</h2>
	    
	    <!-- Content -->
	    <div class="link-on-white-paragraph text">
	      {% for item in contribution.content %}
	          {{item.paragraph | markdownify}}
	      {% endfor %} 
	    </div>
  {% endfor %}
</div>

<div class="pt-5"></div>
