---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner">
  {%- include banner.html banner=site.data.pages.es.community.banner -%}
</div>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.community.intro -%}

<!-- Communities -->
<div class="container-fluid" style="background-color: #f3f6fc; padding: 80px 30px;">    


	<!-- Gitter -->
		<div class="row pt-5 justify-content-center text-center">
		   {%- include community-banner.html y-position='-20%' intro=site.data.pages.es.community.gitter -%}
		</div> 

		<div class="pt-5"></div>
	    <div class="pt-5"></div>


     <!-- Meetsup -->
		<div class="row pt-5 justify-content-center text-center">
		   {%- include community-banner.html y-position='-20%' intro=site.data.pages.es.community.meetups -%}
		</div> 

    <div class="pt-5"></div>
    <div class="pt-5"></div>
	
</div>	

<!-- Code of Conduct -->
{%- include intro-without-background.html intro=site.data.pages.es.community.codeOfConduct -%}

