---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner">
  {%- include banner.html banner=site.data.pages.es.contribute.banner -%}
</div>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.contribute.intro -%}

<!-- Partecipate -->
<div class="container-fluid" style="background-color: #f3f6fc; padding: 100px 0;">
{%- include intro-two-col.html intro=site.data.pages.es.contribute.partecipate -%}
</div>

<!-- Contribute Code -->
<div class="container-fluid" style="padding: 100px 0;">
{%- include intro-two-col.html intro=site.data.pages.es.contribute.contributeCode -%}
</div>

<!-- Contribute Doc -->
<div class="container-fluid" style="background-color: #f3f6fc; padding: 100px 0;">
{%- include intro-one-col.html intro=site.data.pages.es.contribute.contributeDoc -%}
</div>

<!-- Contribute Code -->
<div class="container-fluid" style="padding: 100px 0;">
{%- include intro-one-col.html intro=site.data.pages.es.contribute.getHelp -%}
</div>
