---
layout: default
---

<script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.getElementById('downloadDockerCompose').addEventListener('click', function (event) {
    event.preventDefault();
    const uInt8 = new TextEncoder().encode(document.getElementById('dockercompose').textContent);
    const fileStream = streamSaver.createWriteStream('docker-compose.yml');

    const writer = fileStream.getWriter();
    writer.write(uInt8);
    writer.close();
  }, false);
});
</script>

<div class="container-fluid homeBanner"
     style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.downloads.banner -%}
</div>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.downloads.intro -%}


<div class="container-fluid" style="background-color: #f3f6fc; padding: 1em;">
  <!-- toc -->
  <div class="container download-intent">
    <p>I want to...</p>
    <h3><a href="#{{site.data.pages.es.downloads.try.id}}">{{site.data.pages.es.downloads.try.title}}</a></h3>
    <p>{{site.data.pages.es.downloads.try.tagline}}</p>

    <h3><a href="#{{site.data.pages.es.downloads.prod.id}}">{{site.data.pages.es.downloads.prod.title}}</a></h3>
    <p>{{site.data.pages.es.downloads.prod.tagline}}</p>

    <h3><a href="#{{site.data.pages.es.downloads.develop.id}}">{{site.data.pages.es.downloads.develop.title}}</a></h3>
    <p>{{site.data.pages.es.downloads.develop.tagline}}</p>

    <h3><a href="#{{site.data.pages.es.downloads.connect.id}}">{{site.data.pages.es.downloads.connect.title}}</a></h3>
    <p>{{site.data.pages.es.downloads.connect.tagline}}</p>
  
    <!--<h3><a href="#{{site.data.pages.es.downloads.ingest.id}}">{{site.data.pages.es.downloads.ingest.title}}</a></h3>
    <p>{{site.data.pages.es.downloads.ingest.tagline}}</p>-->

    <h3><a href="#{{site.data.pages.es.downloads.included.id}}">{{site.data.pages.es.downloads.included.title}}</a></h3>
    <p>{{site.data.pages.es.downloads.included.tagline}}</p>

    <h3><a href="#{{site.data.pages.es.downloads.alldownloads.id}}">{{site.data.pages.es.downloads.alldownloads.title}}</a></h3>
    <p>{{site.data.pages.es.downloads.alldownloads.tagline}}</p>

  </div>

  <!-- try open distro -->
  <div class="container download-detail">
    <h3  id="{{site.data.pages.es.downloads.try.id}}">{{site.data.pages.es.downloads.try.title }} <div class="float-right"><a class="text-secondary" href="#{{site.data.pages.es.downloads.try.id}}"><i class="fas fa-link"></i></a></div></h3>
    <p>{{site.data.pages.es.downloads.try.description | markdownify }}</p>
    
    <ol>
      {% for step in site.data.pages.es.downloads.try.steps %}
      <li>{{step }}</li>
      {% endfor %}
    </ol>
    
    {{site.data.pages.es.downloads.try.doclink | markdownify }}

    {{site.data.pages.es.downloads.try.docker.description}}
    <ul>
      {% for image in site.data.pages.es.downloads.try.docker.images %}
      <li><a href="{{image.link}}" target="_blank" onclick="trackOutboundLink('{{image.link}}');">{{image.title}} v{{site.data.pages.es.downloads.version.odfe}}</a></li>
      {% endfor %}
    </ul>


    <pre id="dockercompose" class="d-none">
version: '3'
services:
  odfe-node1:
    image: amazon/opendistro-for-elasticsearch:{{site.data.pages.es.downloads.version.odfe}}
    container_name: odfe-node1
    environment:
      - cluster.name=odfe-cluster
      - node.name=odfe-node1
      - discovery.seed_hosts=odfe-node1,odfe-node2
      - cluster.initial_master_nodes=odfe-node1,odfe-node2
      - bootstrap.memory_lock=true # along with the memlock settings below, disables swapping
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" # minimum and maximum Java heap size, recommend setting both to 50% of system RAM
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536 # maximum number of open files for the Elasticsearch user, set to at least 65536 on modern systems
        hard: 65536
    volumes:
      - odfe-data1:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9600:9600 # required for Performance Analyzer
    networks:
      - odfe-net
  odfe-node2:
    image: amazon/opendistro-for-elasticsearch:{{site.data.pages.es.downloads.version.odfe}}
    container_name: odfe-node2
    environment:
      - cluster.name=odfe-cluster
      - node.name=odfe-node2
      - discovery.seed_hosts=odfe-node1,odfe-node2
      - cluster.initial_master_nodes=odfe-node1,odfe-node2
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - odfe-data2:/usr/share/elasticsearch/data
    networks:
      - odfe-net
  kibana:
    image: amazon/opendistro-for-elasticsearch-kibana:{{site.data.pages.es.downloads.version.odfe}}
    container_name: odfe-kibana
    ports:
      - 5601:5601
    expose:
      - "5601"
    environment:
      ELASTICSEARCH_URL: https://odfe-node1:9200
      ELASTICSEARCH_HOSTS: https://odfe-node1:9200
    networks:
      - odfe-net

volumes:
  odfe-data1:
  odfe-data2:

networks:
  odfe-net:</pre>
  </div>

  <!-- run in production -->
  <div class="container download-detail">
    <h3  id="{{site.data.pages.es.downloads.prod.id}}">{{site.data.pages.es.downloads.prod.title}} <div class="float-right"><a class="text-secondary" href="#{{site.data.pages.es.downloads.prod.id}}"><i class="fas fa-link"></i></a></div></h3>
    <p>{{site.data.pages.es.downloads.prod.description | markdownify}}</p>
    <div class="row">
      {% for method in site.data.pages.es.downloads.prod.methods  %}
      <div class="col-sm">
        <ul class="tree">
          <li>{{method.title}}
            <ul>
              {% for package in method.packages  %}
              <li><a href="{{package.link}}" target="{{package.target}}" onclick="trackOutboundLink('{{package.link}}');">{{package.title}}</a></li>
              {% endfor %}
            </ul>
          
          </li>
        </ul>
      </div>
      {% endfor %}
    </div>

  </div>

  <!-- develop with Open Distro -->
  <div class="container download-detail">
    <h3  id="{{site.data.pages.es.downloads.develop.id}}">{{site.data.pages.es.downloads.develop.title}} <div class="float-right"><a class="text-secondary" href="#{{site.data.pages.es.downloads.develop.id}}"><i class="fas fa-link"></i></a></div></h3>
    <p>{{site.data.pages.es.downloads.develop.description | markdownify}}</p>

    {% include download-section.html downloadsection=site.data.pages.es.downloads.develop %}

  </div>

  <!-- connect to open distro -->
  <div class="container download-detail" class="d-none">
    <h3  id="{{site.data.pages.es.downloads.connect.id}}">{{site.data.pages.es.downloads.connect.title}} <div class="float-right"><a class="text-secondary" href="#{{site.data.pages.es.downloads.connect.id}}"><i class="fas fa-link"></i></a></div></h3>
    {{site.data.pages.es.downloads.connect.description | markdownify }}

    <div class="border-top pt-2 mt-1" id="{{site.data.pages.es.downloads.drivers.id}}">
      <h4>{{site.data.pages.es.downloads.drivers.title}}</h4>
      <div class="pl-4">
        <p>{{site.data.pages.es.downloads.drivers.description}}</p>
        {% include download-section.html downloadsection=site.data.pages.es.downloads.drivers %}
      </div>
    </div>
    <!--<div class="border-top pt-2 mt-5" id="{{xsite.data.pages.es.downloads.odfecli.id}}">
      <h4>{{xsite.data.pages.es.downloads.odfecli.title | markdownify}}</h4>
      <div class="pl-4">
        <p>{{xsite.data.pages.es.downloads.odfecli.description | markdownify}}</p>
        {% include download-section.html downloadsection=site.data.pages.es.downloads.odfecli %}
      </div> 
    </div>-->

    <div class="border-top pt-2 mt-5" id="{{site.data.pages.es.downloads.perftop.id}}">
      <h4>{{site.data.pages.es.downloads.perftop.title | markdownify}}</h4>
      <div class="pl-4">
        <p>{{site.data.pages.es.downloads.perftop.description | markdownify}}</p>
        {% include download-section.html downloadsection=site.data.pages.es.downloads.perftop %}
      </div>
    </div>

  </div>

  <!-- ingest data to open distro -->
  <!--<div class="container download-detail">
    <h3  id="{{site.data.pages.es.downloads.ingest.id}}">{{site.data.pages.es.downloads.ingest.title}} <div class="float-right"><a class="text-secondary" href="#{{site.data.pages.es.downloads.ingest.id}}"><i class="fas fa-link"></i></a></div></h3>
    <p>{{site.data.pages.es.downloads.ingest.description | markdownify }}</p>
    
    <div class="border-top pt-2 mt-1">
      <h4>{{site.data.pages.es.downloads.dataprepper.title}}</h4>
      <div class="pl-4">
        <p>{{site.data.pages.es.downloads.dataprepper.description | markdownify}}</p>
        {% include download-section.html downloadsection=site.data.pages.es.downloads.dataprepper %}
        <strong>{{site.data.pages.es.downloads.dataprepper.demo.title}}</strong>
        {{site.data.pages.es.downloads.dataprepper.demo.description | markdownify}}
        <ol>
          {% for step in site.data.pages.es.downloads.dataprepper.demo.steps  %}
            <li>{{ step | markdownify }}</li>
          {% endfor %}
        </ol>
        {{site.data.pages.es.downloads.dataprepper.demo.post | markdownify }}
      </div>
    </div>
  </div>-->

  <!-- What's included -->
  <div class="container download-detail">
    <h3  id="{{site.data.pages.es.downloads.included.id}}">{{site.data.pages.es.downloads.included.title}} <div class="float-right"><a class="text-secondary" href="#{{site.data.pages.es.downloads.included.id}}"><i class="fas fa-link"></i></a></div></h3>
    <p>{{site.data.pages.es.downloads.included.description | markdownify }}</p>
    <p>
      Latest: {{site.data.pages.es.downloads.version.odfe}} / 
      Date: {{site.data.pages.es.downloads.lastreleasedate }} /
      <a href="{{site.data.pages.es.downloads.misc.release_notes}}">Release Notes</a></p>
    {% assign components = site.data.pages.es.downloads.included.components %}
    {% for component in components  %}
    <ul class="tree">
      <li><a href="{{component.link}}">{{component.title}}</a>
        <ul>
          {% for subcomponent in component.subcomponents  %} 
          <li>
            {% if subcomponent.link %}
            <a href="{{subcomponent.link}}" target="_blank" onclick="trackOutboundLink('{{subcomponent.link}}');">{{subcomponent.title}}</a>
            {% else %}
            {{subcomponent.title}}
            {% endif %}
            v{% if subcomponent.version %}{{ subcomponent.version }}{% else %}{{ site.data.pages.es.downloads.version.odfe }}{% endif %}</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    {% endfor %}

  </div>
  <!-- all downloads -->
  <div class="container download-detail">
    <h3  id="{{site.data.pages.es.downloads.alldownloads.id}}">{{site.data.pages.es.downloads.alldownloads.title}} <div class="float-right"><a class="text-secondary" href="#{{site.data.pages.es.downloads.alldownloads.id}}"><i class="fas fa-link"></i></a></div></h3>
    <p>{{site.data.pages.es.downloads.alldownloads.description | markdownify }}</p>

    <ul>
      {% assign alldownloads = site.data.pages.es.downloads.alldownloads.downloadlist | sort %}
      {% for download in alldownloads  %}
      <li><code><a href="{{site.data.pages.es.downloads.alldownloads.base}}{{download}}" target="_blank" onclick="trackOutboundLink('{{site.data.pages.es.downloads.alldownloads.base}}{{download}}');">{{download}}</a></code></li>
      {% endfor %}
    </ul>
    
  </div>
</div>

<!-- Community -->
{%- include communities/es.html community=site.data.pages.es.downloads.bottomBanner github=site.data.links.github.home forum= site.data.links.forum.home-%}
<!-- Community Ends -->