---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.events.banner -%} 
</div>  


<!-- Intro -->

<div class="pt-5"/>

<!-- Paragraphs -->
<div class="container px-5">
	    	    <h5 style="font-weight: 600;">Upcoming events</h5>

	    <div class="sparxo-nest-cards sparxo-id-388857020121686016"></div><script>(function (d, s, b) {if (d.getElementById(b)) {return;} var l, f = d.getElementsByTagName(s)[0];l = d.createElement(s);l.id = b;l.src = "https://e.sparxo.com/assets/shared/client.js";f.parentNode.insertBefore(l, f);}(document, 'script', 'sparxo-js'));</script>
</div>

<div class="container px-5">
	    <h5 style="font-weight: 600;">Calendar of events</h5>
	    <div class="sparxo-nest-calendar sparxo-theme-white sparxo-id-388857020121686016 "></div><script>(function (d, s, b) {if (d.getElementById(b)) {return;} var l, f = d.getElementsByTagName(s)[0];l = d.createElement(s);l.id = b;l.src = "https://e.sparxo.com/assets/shared/client.js";f.parentNode.insertBefore(l, f);}(document, 'script', 'sparxo-js'));</script>
</div>

<div class="pt-5"></div>