---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.events.banner -%} 
</div>  



<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.events.intro -%}

<div class="pt-5"/>

<!-- Events -->
<div class="container-fluid align-center" style="background-color: #f3f6fc; padding: 50px 30px;">    
	<!--
<h1 style="text-align:center"> Upcoming events </h1>
<div class="pt-4"></div>
	{%- include event-list.html items=site.data.pages.es.events.upcomingEvent -%}
	
</div>	
	-->
<div class="container-fluid align-center" style="background-color: #f3f6fc; padding: 50px 30px;">    
<h1 style="text-align:center"> Past events </h1>
<div class="pt-4"></div>
	{%- include event-list.html items=site.data.pages.es.events.pastEvent -%}
	
</div>	


