---
layout: default
---

<!-- Banner -->
<div class="container homeBanner">
  {%- include banner-with-buttons.html banner=site.data.pages.es.home.banner -%} 
</div>  
<!-- End Banner -->

<div class="pt-5"/>

<!-- Intro -->
{%- include intro.html intro=site.data.pages.es.home.intro -%}
<!-- End Intro-->

<div class="pt-5"/>

<!-- Benefits Starts -->
{% capture benefits_content %}
<div class="container">
  <div class="row" >
    {% for benefit in site.data.pages.es.home.benefits.items %}
      <div class="col-12 col-md-4 px-5 py-5" style="background: url({{ benefit.background }}) no-repeat; background-size: cover; color:white">
        <h5>{{ benefit.title }}</h5>
        <div>{{ benefit.content }}</div>
      </div>
    {% endfor %}
  </div>
</div>  
{% endcapture %}
{%- include text-content.html content=benefits_content -%}
<!-- Benefits Ends -->

<div class="pt-5"/>

<!-- What's included Starts-->
{%- include text-img-link.html intro=site.data.pages.es.home.included -%}
<!-- What's included Ends-->

<div class="pt-5"/>

<!-- Partners Starts-->
<div class="container homeBanner">
  {%- include banner-with-buttons.html banner=site.data.pages.es.home.partners -%} 
</div>  
<!-- Partners Ends-->

<!-- Community Starts -->
  {%- include communities/es.html -%}
<!-- Community Ends -->


 
