---
layout: default
---
<script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.getElementById('downloadDockerCompose').addEventListener('click', function (event) {
    event.preventDefault();
    const uInt8 = new TextEncoder().encode(document.getElementById('dockercompose').textContent);
    const fileStream = streamSaver.createWriteStream('docker-compose.yml');

    const writer = fileStream.getWriter();
    writer.write(uInt8);
    writer.close();
  }, false);
});
</script>


<div style="padding-top:90px;">
  <div class="row">
    <div class="container">
      <div class="row px-3 px-md-5 pt-md-3 pt-sm-1">
        <div class="col-sm-12">
          <div class="notice">
            {{ site.data.notice.message | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row px-3 px-md-5 pt-md-3 pt-sm-1">
        <div class="col-md--4 col-sm-12">
          <h5 class="my-0" style="font-weight: 600;"><p>Latest News</p></h5>
          {% for post in site.posts limit:3 %}
            <div>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <p>{{ post.excerpt | strip_html | truncatewords: 35 }}</p>
            </div>
          {% endfor %}
          <p>Read more posts on our <a href="/for-elasticsearch/blog">blog</a>.</p>
        </div>
        <div class="col-md-8 col-sm-12">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="pt-5"/>

</div>


 
