---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.partners.banner -%}
</div>

<div class="container-fluid pb-5" style="background-color: #f3f6fc;">
  <div class="container">

    <div class="pb-2 px-0"/>

    <!-- Main Partner Container-->
    <!-- Intro -->
{%- include intro.html intro=site.data.pages.es.partners.intro -%}

    </div>
    <!-- Partner -->
    <div class="row">
      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/bitergia.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Bitergia</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Bitergia</h4>
            <p>Bitergia helps organizations understand the software development projects that matter to them reporting insights and metrics about the people and processes involved. With more than 15 years of experience, Bitergia saves customers resources providing answers to the questions that help them to reach their software development goals
            </p>
            <p>
            <a href="https://bitergia.com/">Bitergia.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/Coralogix.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">
            <h3 style="font-size:16px;">Coralogix</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Coralogix</h4>
            <p>Coralogix is a log analytics platform that empowers DevOps teams to autonomously manage and analyze log data in cloud applications. The platform’s machine learning engine enable users to reach faster time to market, avoid customer attrition and accelerate their version delivery without compromising quality or stability.


            </p>
            <p>
            <a href="https://coralogix.com/">Coralogix.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/dattell.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Datell</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Datell</h4>
            <p>Dattell has assisted hundreds of companies to architect and optimize Elasticsearch, Open Distro for Elasticsearch, and Kafka solutions. Our experts can help you save time and resources through consulting and managed services to avoid errors, apply best practices, and deploy high-performance platforms that scale.

            </p>
            <p>
            <a href="https://www.beenen.com/about-us/datell/">Datell.com</a>
            </p>
        </div>
      </div>
      
    </div>
    <!---ROW-->
    <div class="row pt-3">
      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/siren.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Siren.io</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Support Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Siren.io</h4>
            <p>
            Siren is a modern Investigative Intelligence platform which fuses Search and BI capabilities with Knowledge Graphs / Link analysis and operational monitoring. The platform serves some of the world's most advanced organizations in sectors such as Law Enforcement, Intelligence, Financial, Cybersecurity and Life Sciences
            </p>
            <p>
            <a href="https://panzura.com/vizion-ai/">Panzura.com/vizion-ai/</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/searchblox.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">SearchBlox</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV, Development Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>SearchBlox</h4>
            <p>SearchBlox provides enterprise search, site search and ecommerce search solutions. More than 400 customers in 30 countries use SearchBlox to power their websites, intranets and ecommerce applications. SearchBlox provides smart query suggestions because it understands the context and how they’re related to the actual content using NLP machine learning algorithms.
            </p>
            <p>
            <a href="https://www.searchblox.com/">SearchBlox.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/sematext.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Sematext</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Support Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Sematext</h4>
            <p>Sematext, a globally distributed organization, builds cloud and on-premises systems for application-performance monitoring, alerting and anomaly detection; centralized logging, log management and analytics, and real user monitoring. Sematext also provides Elasticsearch consulting, support, and training
            </p>
            <p>
            <a href="https://sematext.com/">Sematext.com</a>
            </p>
        </div>
      </div>

    </div>

      <!---ROW-->
    <div class="row pt-3">
      
      <div class="col-xs-12 col-md-4 partnerinfo">

      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/Excelerate.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Excelerate Systems</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Development Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Excelerate Systems</h4>
            <p>Excelerate Systems works with enterprise level organizations by offering access to IT products and high quality services that focus on Big Data, Cloud Services and Security, as well as Managing and Monitoring of IT Operation infrastructures, ensuring compliance with key industry and regulatory standards such as SOX, PCI-DSS and ITIL.
            </p>
            <p>
            <a href="https://www.exceleratesystems.com/">exceleratesystems.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        
      </div>

    </div>




<div id="categorySlider" class="slider">
        <div class="slider__viewport">
          <ul class="slider__slides slide-list js-slide-list" style ="left: -100%"> 
            <li class="slide-list__item js-slide-list-item" data-slide-index="0">
              <div class="slide-list__content-area">
                <div class="row">
                  <div class="col-sm-12 col-md-6 text-center" >
                  <img src="/for-elasticsearch/assets/media/partner_logos/bitergia-logo-big.png" width="80%" style="margin: 50px 20px;">
                  </div>
                  <div class="col-sm-12 col-md-6 pt-3">
                  <blockquote >
                  <p class="slider-p">We depend on 100% free, open source software to ensure there is no vendor lock-in for our customers and users. Elasticsearch and Kibana are key components of our technology stack, so using Open Distro for Elasticsearch ensures we don't introduce components that aren't open source. - <span style="font-weight: bold;">Bitergia</span>
                  <p>
                  </blockquote>
                  </div>
                </div>
              </div>

            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="1">
              <div class="slide-list__content-area">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 text-center" >
                    <img src="/for-elasticsearch/assets/media/partner_logos/sematext-logo.png" width="80%" style="margin: 80px 20px;">
                    </div>
                    <div class="col-sm-12 col-md-6">
                    <blockquote >
                    <p class="slider-p">Open Distro for Elasticsearch is innovative and community-driven. Our team at Sematext, a global technology organization with deep roots in Open Source technology, find it easy to provide consulting, training and support for Open Distro for Elasticsearch because it’s completely open source, has enterprise-grade functionality and is compatible with SematextCloud. - <span style="font-weight: bold;">Sematext</span>
                    <p>
                    </blockquote>
                    </div>
                  </div>
              </div>
              <!--<img class="slide-list__image" src="http://placehold.it/600X300/666666">-->
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="2">
              <div class="slide-list__content-area">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 text-center" >
                    <img src="/for-elasticsearch/assets/media/partner_logos/Dattell_HD.png" width="80%" style="margin: 20px 20px;">
                    </div>
                    <div class="col-sm-12 col-md-6">
                    <blockquote >
                    <p class="slider-p">Dattell helps companies optimize their data architecture to scale through consulting and managed services. Open Distro for Elasticsearch addresses the growing demand for advanced capabilities, like security and alerting. Dattell assists companies to save time and money when deploying data processing and search architecture with Open Distro for Elasticsearch. - <span style="font-weight: bold;">Dattell</span>
                    <p>
                    </blockquote>
                    </div>
                  </div>
              </div>
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="3">
              <div class="slide-list__content-area">
                <div class="row">
                  <div class="col-sm-12 col-md-6 text-center" >
                  <img src="/for-elasticsearch/assets/media/partner_logos/SearchBlox-logo.png" width="80%" style="margin: 60px 20px;">
                  </div>
                  <div class="col-sm-12 col-md-6">
                  <blockquote >
                  <p class="slider-p">Our solutions enable customers to search across databases, documents, and websites for highly contextual search experiences. We chose to build both our cloud and on-premises products with Open Distro for Elasticsearch because it has a 100% open source Apache 2.0 license and allows organizations to deploy AI-Driven enterprise search solutions. - <span style="font-weight: bold;">SearchBlox</span>
                  <p>
                  </blockquote>
                  </div>
                </div>
              </div>
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="4">
              <div class="slide-list__content-area">
                    <div class="row">
                    <div class="col-sm-12 col-md-6 text-center" >
                    <img src="/for-elasticsearch/assets/media/partner_logos/img-siren-logo-thumbnail.png" width="80%" style="margin: 0px 20px;">
                    </div>
                    <div class="col-sm-12 col-md-6">
                    <blockquote >
                    <p class="slider-p">Siren serves customers for which Elasticsearch is critical for important data investigations. We do so extending the regular capabilities with Joins (correlations), link analysis and connectors to many backends (including DBs). In response to customer requests, we're happy to share that from version 10.4 Siren add supports for Opendistro clusters. - <span style="font-weight: bold;">Siren.io</span>
                    <p>
                    </blockquote>
                    </div>
                </div>
              </div>
            </li>
             
          </ul>
        </div>
        <div class="slider__controls">
          <button type="button" data-direction="prev" class="js-arrow-button slider__button slider__button--prev "><img src="/for-elasticsearch/assets/media/icons/Arrow-Left-icon.png" height=40></button>
          <button type="button" data-direction="next " class="js-arrow-button slider__button slider__button--next"><img src="/for-elasticsearch/assets/media/icons/Arrow-Right-icon.png" height=40"></button>
            <!--<div class="slider-pager">
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="0">1</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="1">2</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="2">3</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="3">4</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="4">5</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="5">6</button>
            </div>-->
        </div>
  </div>

              <!-- Intro -->

  </div>
  </div>
</div>

</div>
