---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.partners.banner -%}
</div>

<div class="container-fluid pb-5" style="background-color: #f3f6fc;">
  <div class="container">

    <div class="pb-5 px-0"/>

    <!-- Main Partner Container-->
    <!-- Intro -->
{%- include intro.html intro=site.data.pages.es.partners.intro -%}

    </div>
    <!-- Partner -->
    <div class="row">
      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/appbased.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Appbased.io</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Hosting Provider</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/asq.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">
            <h3 style="font-size:16px;">Asquera.de</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Support Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/bitergia.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Bitergia</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>
      
    </div>
    <!---ROW-->
    <div class="row pt-3">
      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/Coralogix.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Coralogix</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/dattell.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Datell</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/Excelerate.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Excelarate Systems</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Support Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

    </div>
    <!---ROW-->
    <div class="row pt-3">
      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/logz.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">logz.io</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/netflix.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Netflix</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Development Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/searchblox.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">SearchBlox</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

    </div>
    <!---ROW-->
    <div class="row pt-3">
      <div class="col-sm-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/sematext.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Sematext</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Support Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-sm-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/siren.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">SIREN.io</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

      <div class="col-sm-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/visionai.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">vision.ai</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext">
            <img width="150px" src="https://cdn.vox-cdn.com/thumbor/Guer0rnI00zMV8vaCg_JOCB7vTY=/0x0:1190x793/1200x800/filters:focal(500x302:690x492)/cdn.vox-cdn.com/uploads/chorus_image/image/60671473/firefox_logos.0.jpg"><br/>
            Tooltip text<br/>
            <a href="">hello</a>
        </div>
      </div>

    </div>


<div id="categorySlider" class="slider">
        <div class="slider__viewport">
          <ul class="slider__slides slide-list js-slide-list" style ="left: -100%"> 
            <li class="slide-list__item js-slide-list-item" data-slide-index="0">
              <div class="slide-list__content-area">Custom HTML Slide 1</div>
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="1">
              <div class="slide-list__content-area">Custom HTML Slide 2</div>
              <!--<img class="slide-list__image" src="http://placehold.it/600X300/666666">-->
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="2">
              <div class="slide-list__content-area">Custom HTML Slide 3</div>
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="3">
              <div class="slide-list__content-area">Custom HTML Slide 4</div>
              <!--<img class="slide-list__image" src="http://placehold.it/600X300/222222">-->
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="4">
              <div class="slide-list__content-area">Custom HTML Slide 5</div>
              <!--<img class="slide-list__image" src="http://placehold.it/600X300/222222">-->
            </li>
             <li class="slide-list__item js-slide-list-item" data-slide-index="5">
              <div class="slide-list__content-area">Custom HTML Slide 6</div>
              <!--<img class="slide-list__image" src="http://placehold.it/600X300/222222">-->
            </li>
          </ul>
        </div>
        <div class="slider__controls">
          <button type="button" data-direction="prev" class="js-arrow-button slider__button slider__button--prev "><</button>
          <button type="button" data-direction="next " class="js-arrow-button slider__button slider__button--next">></button>
            <!--<div class="slider-pager">
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="0">1</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="1">2</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="2">3</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="3">4</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="4">5</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="5">6</button>
            </div>-->
        </div>
  </div>

              <!-- Intro -->
{%- include intro.html intro=site.data.pages.es.partners.cta -%}

  </div>
  </div>
</div>

</div>
