---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.partners.banner -%}
</div>

<div class="container-fluid pb-5" style="background-color: #f3f6fc;">
  <div class="container">

    <div class="pb-5 px-0"/>

    <!-- Main Partner Container-->
    <!-- Intro -->
{%- include intro.html intro=site.data.pages.es.partners.intro -%}

    </div>
    <!-- Partner -->
    <div class="row">
      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/bitergia.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Bitergia</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Bitergia</h4>
            <p>Founded by FLOSS (free, libre, open source software) enthusiasts with a large experience in development, research and consultancy activities, Bitergia is a company born from +15 years experience in URJC GSyC/Libresoft group on collaborative software development methodologies and quality models research.
            </p>
            <p>
            <a href="https://bitergia.com/">Bitergia.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/Coralogix.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">
            <h3 style="font-size:16px;">Coralogix</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Coralogix</h4>
            <p>Coralogix was founded in 2014, with the aim of making unmanageable log data manageable. Open source code and cloud computing made it simpler for small and medium-sized companies to create large-scale production environments. This shift brought the necessary, yet difficult task, of maintaining production systems and managing large amounts of data. Most companies that offer log management solutions focus on simply indexing and visualizing data. But the problem of having too many logs to deal with still exists. </p>
            <p>
            Companies need to be able to know what to search, where to search and most of all, when to search. Coralogix’s machine learning-powered log analytics solution automatically clusters millions of log records back into their patterns and finds connections to form the baseline flows of each software individually. Coralogix helps over 1000 companies to get a grasp on their log data and proactively solve their production problems.


            </p>
            <p>
            <a href="https://coralogix.com/">Coralogix.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/dattell.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Datell</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Datell</h4>
            <p>Beenen is a system integrator that offers its clients integrated automation solutions for increased safety and efficiency in manufacturing. We also provide our clients with services to relieve them of certain concerns.</p>
            <p>
            Many years of experience – our company was founded almost a hundred years ago – have resulted in a large number of satisfied customers in the industrial sector. With some 200 passionate employees, divided over two locations in Heerenveen and Zwolle, we supply control installations to clients in, among others, the market segments of food/feed, water, chemistry and machine building.
            </p>
            <p>Our professional expertise, the quality of our products and close involvement with our clients, have allowed Beenen to grow into a successful enterprise in the Industrial Automation branch. Beenen is an efficient and reliable partner, always working towards creating a durable relationship with our clients.
            </p>
            <p>
            <a href="https://www.beenen.com/about-us/datell/">Datell.com</a>
            </p>
        </div>
      </div>
      
    </div>
    <!---ROW-->
    <div class="row pt-3">
      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/Excelerate.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Excelerate Systems</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Support Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Excelerate Systems</h4>
            <p>Beenen is a system integrator that offers its clients integrated automation solutions for increased safety and efficiency in manufacturing. We also provide our clients with services to relieve them of certain concerns.</p>
            <p>
            Many years of experience – our company was founded almost a hundred years ago – have resulted in a large number of satisfied customers in the industrial sector. With some 200 passionate employees, divided over two locations in Heerenveen and Zwolle, we supply control installations to clients in, among others, the market segments of food/feed, water, chemistry and machine building.
            </p>
            <p>Our professional expertise, the quality of our products and close involvement with our clients, have allowed Beenen to grow into a successful enterprise in the Industrial Automation branch. Beenen is an efficient and reliable partner, always working towards creating a durable relationship with our clients.
            </p>
            <p>
            <a href="https://www.exceleratesystems.com/">Exceleratesystems.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/searchblox.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">SearchBlox</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV, Development Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>SearchBlox</h4>
            <p>SearchBlox is a leading provider of enterprise search, sentiment analysis and text analytics solutions. More than 400 customers in 30 countries now use SearchBlox to power their websites, intranets and custom search applications. Founded in 2003, SearchBlox was created to provide customers with simple, affordable solutions for their data management needs including web-based administration and integrated data connectors to index enterprise and web content.
            </p>
            <p>
            <a href="https://www.searchblox.com/">SearchBlox.com</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/sematext.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Sematext</h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">Support Partner</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Sematext</h4>
            <p>Sematext, a globally distributed organization, builds cloud and on-premises systems for application-performance monitoring, alerting and anomaly detection; centralized logging, log management and analytics, and real user monitoring.
            </p>
            <p>
            <a href="https://sematext.com/">Sematext.com</a>
            </p>
        </div>
      </div>

    </div>
    <!---ROW-->
    <div class="row pt-3">

      <div class="col-xs-12 col-md-4 partnerinfo">
        
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        <div class="row" style="background:#fff; border: 1px solid #ddd; border-radius: 5px; margin:10px;">
          <div class="col col-md-12 pt-2" style="text-align: center;">
            <img src="/for-elasticsearch/assets/media/partner_logos/siren.png" width="70%" style="margin: 10px 0;">
          </div>
          <div class="col col-12 p-2" style="text-align: center;">

            <h3 style="font-size:16px;">Siren.io </h3>
            <h4 style="font-size:12px; color:#aaa; font-weight: bold;">ISV</h4>
          </div>
        </div>
        <div class="partnerinfotext" style="text-align: left; padding: 20px; font-size: 14px;">
            <h4>Siren.io</h4>
            <p>Siren is a spin off of the Data Intensive Infrastructure research group at NUIG led by Dr. Giovanni Tummarello. Together with Dr. Renaud Delbru (co-founder).
            </p>
            <p>The Sindice search engine research created the first generation “SIREn” (Semantic Information Retrieval ENgine) and other techniques to index, understand, and reuse of 30 billion edge knowledge graph created by crawling the “Web of Data” (I.E. pages with markup like schema.org among others).
            </p>
            <p>
            <a href="https://www.siren.io/">Siren.io</a>
            </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 partnerinfo">
        
      </div>

    </div>



<div id="categorySlider" class="slider">
        <div class="slider__viewport">
          <ul class="slider__slides slide-list js-slide-list" style ="left: -100%"> 
            <li class="slide-list__item js-slide-list-item" data-slide-index="0">
              <div class="slide-list__content-area">
                <div class="col-12" style="border-bottom: 1px solid #ddd">
                <h4 >
                Bitergia
                </h4>
                </div>
                <div class="col-12 text-center" >
                <img src="/for-elasticsearch/assets/media/partner_logos/bitergia.png" width="200px" style="margin: 10px 0;">
                </div>
                <div class="col-12" >
                <p class="slider-p">
                "Bitergia has more than 15 years of experience analyzing and understanding software development projects through community and processes analysis. We help organizations understand the projects that matter to them with customized insights and metrics about the people and processes involved.  We depend on 100% free, open source software to ensure there is no vendor lock-in for our customers and users. Elasticsearch and Kibana are key components of our technology stack, so using Open Distro for Elasticsearch ensures we don't introduce components that aren't open source. Find out more in our blog (https://blog.bitergia.com/2019/07/30/cauldron-software-development-analytics-paas-proof-of-concept-poc-now-with-open-distro-for-elasticsearch/), and on our website (https://bitergia.com/)."
                </p>
                </div>
              </div>

            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="1">
              <div class="slide-list__content-area">
              <div class="col-12" style="border-bottom: 1px solid #ddd">
                <h4 >
                Dattell
                </h4>
                </div>
                <div class="col-12 text-center" >
                <img src="/for-elasticsearch/assets/media/partner_logos/dattell.png" width="200px" style="margin: 10px 0;">
                </div>
                <div class="col-12" >
                <p class="slider-p">
                "Dattell helps companies of all sizes optimize their data architecture to scale. We’re seeing a lot of demand for the advanced capabilities like security and alerting that Open Distro for Elasticsearch offers. We built a new managed service practice to help customers save time and money when they deploy data processing and search architecture with Open Distro for Elasticsearch.”"
                </p>
                </div>
              </div>
              <!--<img class="slide-list__image" src="http://placehold.it/600X300/666666">-->
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="2">
              <div class="slide-list__content-area">
              <div class="col-12" style="border-bottom: 1px solid #ddd">
                <h4 >
                SearchBlox
                </h4>
                </div>
                <div class="col-12 text-center" >
                <img src="/for-elasticsearch/assets/media/partner_logos/searchblox.png" width="200px" style="margin: 10px 0;">
                </div>
                <div class="col-12" >
                <p class="slider-p">
                "SearchBlox provides AI-Driven Enterprise Search solutions to over 400 organizations in 30 countries to power their website, intranet, document and custom search applications.* *Our solutions enable customers to search information across multiple databases, documents, and websites and includes AI/Deep Learning models for highly relevant and superior search experiences. We chose to build both our cloud and on-premises products with Open Distro for Elasticsearch because it has a 100% open source 2.0 license and allows organizations to develop and deploy secure and scalable search solutions for searching data." 
                </p>
                </div>
              </div>
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="3">
              <div class="slide-list__content-area">
                <div class="col-12" style="border-bottom: 1px solid #ddd">
                <h4 >
                Sematext
                </h4>
                </div>
                <div class="col-12 text-center" >
                <img src="/for-elasticsearch/assets/media/partner_logos/sematext.png" width="200px" style="margin: 10px 0;">
                </div>
                <div class="col-12" >
                <p class="slider-p">
                "Open Distro for Elasticsearch is innovative and community-driven. Our team at Sematext, a global technology organization with deep roots in Open Source technology, find it easy to provide consulting, training and support for Open Distro for Elasticsearch because it’s completely open source, has enterprise-grade functionality and is compatible with SematextCloud." 
                </p>
                </div>
              </div>
            </li>
            <li class="slide-list__item js-slide-list-item" data-slide-index="4">
              <div class="slide-list__content-area">
                iv class="slide-list__content-area">
                <div class="col-12" style="border-bottom: 1px solid #ddd">
                <h4 >
                Siren.io
                </h4>
                </div>
                <div class="col-12 text-center" >
                <img src="/for-elasticsearch/assets/media/partner_logos/siren.png" width="200px" style="margin: 10px 0;">
                </div>
                <div class="col-12" >
                <p class="slider-p">
                "Siren supercharges Elasticsearch to serve customers that need to investigate big relationally connected data. We like to say that it's Big Data analytics meets Knowledge Graphs. This is important because in order to gain intelligence on data in different indexes and backends, it is critical to join the dots.  Siren's mission is to allow people to use data in situ without requiring data reindexing or ETL from where it normally sits. To achieve this we support a variety of backends and several Elasticsearch flavors. Many of our advanced customers are asking about Open Distro for Elasticsearch and we're very happy to say that Siren is now compatible with it. I encourage any organization that wants to do correlations between data in Elasticsearch, or even external systems, to get in touch with us.“
                </p>
                </div>
              </div>
            </li>
             
          </ul>
        </div>
        <div class="slider__controls">
          <button type="button" data-direction="prev" class="js-arrow-button slider__button slider__button--prev "><img src="/for-elasticsearch/assets/media/icons/Arrow-Left-icon.png" height=40></button>
          <button type="button" data-direction="next " class="js-arrow-button slider__button slider__button--next"><img src="/for-elasticsearch/assets/media/icons/Arrow-Right-icon.png" height=40"></button>
            <!--<div class="slider-pager">
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="0">1</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="1">2</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="2">3</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="3">4</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="4">5</button>
              <button class="slider-pager__item js-pager-item" type="button" data-slide-index="5">6</button>
            </div>-->
        </div>
  </div>

              <!-- Intro -->
{%- include intro.html intro=site.data.pages.es.partners.cta -%}

  </div>
  </div>
</div>

</div>
