---
layout: default
---

<!-- Banner -->
<div class="container-fluid homeBanner" style="background: url('{{site.baseurl}}/assets/media/backgrounds/homehero.svg') no-repeat; background-size: cover;">
  {%- include banner.html banner=site.data.pages.es.submitblog.banner -%}
</div>

<div class="container-fluid" style="background-color: #f3f6fc;">

<main class="main container">
	<div class="row blogpost justify-content-center" style="background:#fff;">
	
    <div class="col-10" style="text-align: right; padding: 25px 10px 0 0;">
    
      
    </div>
               
	<div class="col-10">
	
		
  <article class="article  article--post  content  typeset">

    
    <h1 style="font-size: 32px; font-weight: 600; padding: 0; margin: 0;">{{ page.title }}</h1> 
    <div class="pt-3">
    {{ content }}
    </div>
    <div style="margin-top:50px;">
	</div>
  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
</div>
</div>
</main>

</div>